<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="content">
            {{>header}}
            <img class="me" src="/img/griffin.jpg">
        </div>
        {{>footer}}
    </body>
</html>